<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
  table, th, td {
  <!border: 1.5px solid black>;
  border-collapse:collapse;
  text-align:center
}
p{text-align:center}
</style>
<body>
<table style="border:1px solid black" width='80%'>
  <tr>
    <td style="border:1px solid black">
    <p>Main.Header</p>
    </td>
    <td style="border:1px solid black">
      <p>Room.var</p>
    </td>
  </tr>
  <tr>
    <td colspan ='2' style="text-align:center;">
      <p>
       messagechat
      </p>
    </td>
  </tr>
  <tr style="border:1px solid black">
    <td colspan ='2' style="text-align:center;">
     <p>
       enter message here:
     </p>
    </td>
  </tr>
</table>


</body>
</html>